[profile.default]
src = "src"
test = "test"
libs = ["../../lib"]
out = "out"
cache_path = "cache"
optimizer = true
optimizer_runs = 200
solc_version = "0.8.30"

[fuzz]
runs = 256
max_test_rejects = 65536

[invariant]
runs = 256
depth = 15
fail_on_revert = true

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
